* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}
a{
	text-decoration: none;
}
.Toast {
    width: 200px;
}

a:active{
	color: #333;
}

body {
    background-color: #f7f7f7;
}


img {
    display: block;
    width: 100%;
}

.router-link-active {
    color: #007aff;
}

.template{
padding-top: 40px;
}

.mui-content>.mui-table-view:first-child {
    margin-top: 0px;
}
ul{
    list-style: none;
}

.footer p {
    text-align: center;
    color: #ccc;
    font-size: 15px;
    display: block;
    padding: 10px 0;
}



.shop-detail .mint-swipe-indicator.is-active {
    background: #FF8C00;
}

.shop-detail .mint-swipe-indicator {
    background: #808080;
    opacity: 1;
}




.mint-cell:last-child{
    background-position:unset;
}
.mint-cell-wrapper {
    padding: 5px 0;
  }

  .recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  margin: 15px 0;
  }


  .recommend::before,
  .recommend::after {
    content: "";
    background-color: #999;
    width: 35%;
    height: 1px;
    margin: 0 8px;
    transform: scaleY(0.5);
    transform-origin: 50% 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 50% 0;
  }
